
#main { width: 100%; max-width: 1002px; margin: 0 auto;}
li {padding: 10px 0;}
p { text-indent: 0em; line-height: 150%; margin: 3px 0;}
span.pp { display: none;}
li.blogitem > h3 { margin-bottom: 4px;}
li.blogitem > div.date { color: blue; font-size: smaller; }
